#header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 5rem;
}

#header-container a {
    color: var(--color-light);

    &:hover {
        color: var(--color-quaternary);
    }
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}