#home-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;

    flex-direction: column;
}

#content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 1rem;
}

#openAI-col {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: grey;
    box-shadow: 5px 5px 5px #888888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-height: max-content;
    margin-bottom: 1rem;
}

#show-ai-col {
    position: absolute;
    left: 1.5rem;
}