#login-page-container {
    padding: 2rem;
    margin-top: 5rem;
}

.login-page-row {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.login-page-col {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#login-page-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/024/648/871/small_2x/cover-and-banner-of-working-desk-with-gadget-top-view-of-table-working-and-free-space-for-text-with-computer-laptop-notebook-coffee-cup-phone-and-paper-vector.jpg');
    background-size: cover;
    height: max-content;

    padding-top: 10rem;
}

/* #login-page-banner .login-page-row {
    position: relative;
    bottom: 0;
} */


#button-col {
    display: flex;
    justify-content: center;
    max-width: max-content;
}

.login-page-button {
    width: 6rem !important;
    background-color: var(--color-secondary) !important;
    color: var(--color-quaternary) !important;
    height: 4rem !important;

    font-weight: bold;

    &:hover {
        background-color: var(--color-quaternary) !important;
        color: var(--color-secondary) !important;
    }
}

/* Login */

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    background-color: var(--color-tertiary);
}

.form-label {
    color: var(--color-light);
    font-weight: bold;
}

.form-control {
    margin: 1rem auto;
}

/* #login-form button {
    margin-top: 1rem;
} */

#login-form button {
    text-align: center;
}

#login-form button :hover {
    width: 2rem;
    height: 2rem;
}

/* Sign Up */

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    background-color: var(--color-tertiary);
}

#signup-form button {
    text-align: center;
}

#signup-form button :hover {
    width: 2rem;
    height: 2rem;
}