.login-page-row {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.login-page-col {
    display: flex;
    justify-content: center;
    margin: 1rem;
}


#button-col {
    display: flex;
    justify-content: center;
    max-width: max-content;
}

.login-page-button {
    width: 6rem !important;
    background-color: var(--color-tertiary) !important;
    color: var(--color-secondary) !important;
    height: 4rem !important;

    font-weight: bold;

    &:hover {
        background-color: var(--color-quaternary) !important;
        color: var(--color-tertiary) !important;
    }
}

/* Login */

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    background-color: var(--color-tertiary);
}

.form-label {
    color: var(--color-secondary);
    font-weight: bold;
}

.form-control {
    margin: 1rem auto;
}

/* #login-form button {
    margin-top: 1rem;
} */

#login-form button {
    text-align: center;
}

#login-form button :hover {
    width: 2rem;
    height: 2rem;
}

/* Sign Up */

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    background-color: var(--color-tertiary);
}

#signup-form button {
    text-align: center;
}

#signup-form button :hover {
    width: 2rem;
    height: 2rem;
}