@font-face {
    font-family: 'LititaOne-Regular';
    src: url('../assets/LilitaOne-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Outfit-VariableFont';
    src: url('../assets/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --notebook-color: #F1D592;
    --sticky-color: #43B929;
    --highlight-color: #FF37A6;

    --color-light: #FEFAE0;

    --color-primary: #003844;
    --color-secondary: #8E8DBE;
    --color-tertiary: #006C67;
    --color-quaternary: #3DDC97;
}

body {
    background-color: var(--color-primary);
    font-family: 'Outfit-VariableFont';
}

#root button {
    width: max-content;
    aspect-ratio: 1/1;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
}

#root p {
    word-break: break-all;
    white-space: normal;
}

#root .error-message {
    color: red;
}