#notebook-tabs-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

#notebook-tabs-row {
    display: flex;
    flex-direction: row;

}

.notebook-tab {
    display: flex;
    flex-wrap:nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 20rem;

    background-image: linear-gradient(to bottom, #F1D592, #EBC465);
    color: black;
    border-radius: 10px 20px 0 0;
    cursor: pointer;
}

.notebook-tab p {
    margin: 0;
    padding: .2rem;
    font-weight: 500;
}

.notebook-tab :hover {
    color: var(--color-primary);

    & p {
        color: var(--color-primary);
    }
}

.selected-notebook-tab {
    background-image: linear-gradient(to top, #F1D592, #EBC465);
    
    & p {
        font-weight: bold;
    }
}

.edit-title-button :hover {
    cursor: help;
}
/* AddNotebookTab */

.new-tab {
    display: flex;
    justify-content: right;
    background-image: linear-gradient(to bottom, #F1D592, #EBC465);
    color: black;
    border-radius: 10px 20px 0 0;
    cursor: pointer;
}

#add-notebook-button {
    display: flex;
    width: max-content;

    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    border-radius: 10px 20px 0 0;
    cursor: pointer;
}

#add-notebook-button svg {
    width: 1rem;
    aspect-ratio: 1;
}

#new-notebook-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
}

#new-notebook-form input {
    width: 10rem;
    height: 1.5rem;
    border: none;
    padding: .2rem;
    margin: .2rem;
    background-color: var(--color-light);
    color: var(--color-primary);
    font-weight: bold;
}

#submit-new-notebook {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    border-radius: 10px 20px 0 0;
    cursor: pointer;
    padding: .2rem;
}