#notebookpage-container {
    background-color: var(--notebook-color);
    min-height: 30rem;
    padding-bottom: 20px;
}

#notebookpage-button {
    display: flex;
    width: max-content;

    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    cursor: pointer;
}

#notebookpage-button :hover {
    width: 1.8rem;
    height: 1.8rem;
    transition: width 0.3s, height 0.3s;
}