.note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}


#main-note-container {
    background-color: white;
    color: black;

    border: 1px solid black;
}

#highlight-container {
    background-color: var(--highlight-color);
    color: white;

    border: 1px solid black;
    border-radius: 10px 0 10px 0;
}

#sticky-container {
    background-color: var(--sticky-color);
    color: white;

    border: 1px solid black;
    border-radius: 0 10px 0 10px;
}

#note-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.note-container button {
    width: max-content;
    aspect-ratio: 1/1;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
}