#main-note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    background-color: white;
    color: black;

    border: 2px solid black;
}

#highlight-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    background-color: blueviolet;
    color: white;

    border: 2px solid black;
    border-radius: 10px 0 10px 0;
}

#sticky-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    background-color:cadetblue;
    color: white;

    border: 2px solid black;
    border-radius: 0 10px 0 10px;
}

#note-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

p {
    word-break: break-all;
    white-space: normal;
}