#page-container {
    background-color: #F1D592;
    min-height: 30rem;
}

#page-button {
    display: flex;
    width: max-content;

    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    cursor: pointer;
}

#page-button :hover {
    width: 1.8rem;
    height: 1.8rem;
    transition: width 0.3s, height 0.3s;
}